@use "../utils/variables";

.main-button {
  width: 100%;
  padding: 10px;
  font-size: 13px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: variables.$gray;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &--blue {
    border: solid 1px variables.$white;
    background-color: variables.$blue;
    color: variables.$white;

    &:hover {
      background-color: variables.$white;
      color: variables.$gray;
    }

    &:active {
      background-color: variables.$gray-2;
    }
  }

  &--white {
    border: solid 1px variables.$gray;
    background-color: variables.$white;


    &:hover {
      background-color: variables.$blue;
      color: variables.$white;
    }

    &:active {
      background-color: variables.$gray-2;
    }
  }
}