@use "../utils/variables";

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
  }

  &__select {
    padding: 10px;
    width: 100%;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: variables.$gray-2;
    }
  }

  &__input {
    padding: 10px;
    width: 100%;
    border: none;
    transition: all 0.2s ease-in-out;

    &::placeholder {
      font-size: 18px;
      line-height: 24px;
      color: variables.$gray-3;
    }

    &:hover {
      background-color: variables.$gray-2;
    }
  }

  &__box-range {
    display: flex;
    flex-direction: column;
    grid-column: 1/3;
  }

  &__label {
    color: variables.$white;
  }

  &__file-upload {
    padding: 10px 10px 10px 30px;
    position: relative;
    font-size: 15px;
    line-height: 24px;
    font-family: "Lato-Bold", sans-serif;
    background-color: variables.$white;
    color: variables.$gray-3;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: variables.$gray-2;
    }

    .img {
      max-width: 18px;
    }
  }

  &__box-buttons {
    max-width: 336px;
    width: 100%;
    margin: 0 auto;
  }

  @media (max-width: variables.$tablet-width) {
    &__box {
      grid-template-columns: 1fr;
    }

    &__box-range {
      grid-column: unset;
    }
  }
}