@use "../utils/variables";

.order {
  padding: 120px 0;
  background-image: url("../../images/image-2.png");
  background-repeat: no-repeat;
  background-size: cover;

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__text-title {
    margin: 16px 0 0 0;
    color: variables.$gray-2;
    text-align: center;
  }

  &__icon {
    padding: 23px;
    background-color: variables.$blue;
    border-radius: 50%;
    border: solid 5px variables.$blue-2;
    max-width: 100px;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px;
  }

  &__item {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
  }

  &__text {
    margin: 0;
    text-align: center;
    color: variables.$white;
  }

  @media (max-width: variables.$tablet-width) {
    padding: 60px 0;

    &__list {
      grid-template-columns: repeat(2, 1fr);
    }

    &__icon {
      max-width: 80px;
      padding: 15px;
    }
  }

  @media (max-width: variables.$mobile-width) {
    &__list {
      grid-template-columns: 1fr;
    }
  }
}