//font-weight
$regular: 400;
$medium: 500;
$semiBold: 600;

//screen-resolution
$container-max-width: 1200px;
$desktop-width: 1439px;
$tablet-width: 1023px;
$mobile-width: 767px;

//padding
$desktop-padding: 0 80px;
$tablet-padding: 0 16px;

//colors
$white: #ffffff;
$blue: #43ABF0;
$blue-2: #286690;
$black: #000000;
$gray: #2A2B30;
$gray-2: #BBBBBB;
$gray-3: #272733;
$gray-4: #C3C3C3;
$gray-5: #3D4050;