mixin footer
    footer.footer
        .main-container
            .footer__wrapper
                p.footer__text © 2018 «LoremIpsum.net» Все права защищены.
                ul.footer__list
                    li.footer__item
                        .footer__icon
                            +image("icon-7", "svg", "21", "20", "Qiwi wallet")
                        span.footer__text-2 Qiwi wallet
                    li.footer__item
                        .footer__icon
                            +image("icon-8", "svg", "21", "20", "Yandex Money")
                        span.footer__text-2 Yandex Money
                    li.footer__item
                        .footer__icon
                            +image("icon-9", "svg", "21", "20", "Web Money")
                        span.footer__text-2 Web Money
                ul.footer__list
                    li.footer__item
                        .footer__icon
                            +image("icon-10", "svg", "21", "20", "info@ipsum228.com")
                        a.footer__link(href="mailto:info@ipsum228.com")
                            span.footer__text-2 info@ipsum228.com
                    li.footer__item
                        .footer__icon
                            +image("icon-11", "svg", "21", "20", "Мы вконтакте")
                        a.footer__link(href="#")
                            span.footer__text-2 Мы вконтакте